<p id="notice"><%= notice %></p>

<p>
  <strong>Reurl:</strong>
  <%= link_to @tiny_url.base_url, @tiny_url.reurl %>
</p>

<%= link_to 'Edit', edit_tiny_url_path(@tiny_url) %> |
<%= link_to 'Back', tiny_urls_path %>
